@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Monserrat', sans-serif;
	font-size: 16px;
	background-image: linear-gradient(to right, #7221CE, #1264D4);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container{
	justify-content: center;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	margin: 0;
	background-color: #c23ee1;
    color: white;
    font-weight: bold;
	border: 0;
	font-size: inherit;
	opacity: 0.9;
	transition: 0.3s;
}

.btn:hover{
	opacity: 1;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	margin: .5rem auto;
	overflow: hidden;
}

.chat-header {
	color: #fff;
	padding: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-container .chat-header .app-title{
	margin: 0;
}

.chat-container .chat-header .room-name-title{
	display: flex;
	align-items: center;
}

.chat-container .chat-header .room-name-title h2{
	margin-left: .5rem;
}

.btn.leave-room i{
	font-size: 0;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	color: rgb(53, 53, 53);
	width: 12rem;
	margin: 0;
	overflow-y: scroll;
	background-color: lightgrey;
	padding: .5rem;
	height: 56vh;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: .5rem;
    margin-top: .5rem;
}

.chat-sidebar input[type="text"]{
	margin-top: .5rem;
    margin-bottom: .5rem;
	height: 40px;
    padding: 5px;
	width: -webkit-fill-available;
	width: -moz-available;
}

.chat-sidebar ul{
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.chat-sidebar ul li {
	padding: 10px 5px 10px;
	border-top: 1px solid grey;
	display: flex;
	align-items: center;
}

.chat-sidebar ul li .username{
	width: 100%;
}

.chat-sidebar ul li i{
	font-size: x-large;
}

.chat-sidebar ul li:hover{
	background-color: #adadad;
}

.mobile-room-name{
	display: none;
}

.chat-messages {
	padding: 30px;
	margin: 0;
	height: 56vh;
	overflow-y: scroll;
	background-color: #ffffff;
}

.chat-messages .message.other,
.chat-messages .message.me {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: block;
	position: relative;
	clear: both;
	width: fit-content;
	max-width: 80%;
}

.chat-messages .message.other{
	background-color: #f1f1f1;
	float: left;
}

.chat-messages .message.me{
	background-color: #d6f4d4;
	float: right;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
	margin-bottom: 7px;
	color: #0032fd;
}

.chat-messages .message .meta.from-chatbot{
	color: #3abb3a;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-messages .message .text.from-chatbot{
	font-style: italic;
}

.chat-form-container {
	margin: 1rem 0;
	background-image: linear-gradient(to right, #7221CE, #1264D4);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: inherit;
	padding: 5px;
	height: 40px;
	flex: 1;
	border: 0;
}

/* Join Page */
.join-container {
	max-width: 500px;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 1rem;
}

.join-main {
	padding: 30px 40px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.join-main .login-form{
	width: 50%;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main .form-control input[type='text']{
	font-size: inherit;
}

.join-main .form-control select{
	font-size: inherit;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 1rem;
	width: 100%;
	height: 40px;
}

/* Footer */
.footer{
	max-width: 1100px;
    margin: 1rem auto;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
}

.footer .heart{
	color: red;
}

.footer a{
	color:#d3d3d3;
}

/* Smartphones width */
@media (max-width: 700px){
	body{
		font-size: small;
	}

	h1{
		font-size: medium;
	}

	.join-main input[type='text']{
		height: 30px;
	}

	.join-main select{
		height: 30px;
	}

	.join-main .btn{
		height: 30px;
	}

	.btn.leave-room{
		font-size: 0;
	}

	.btn.leave-room i{
		font-size: initial;
	}

	.chat-main {
		display: block;
	}

	.chat-main .chat-messages .message .meta{
		font-size: inherit;
	}

	.chat-container .chat-header .room-name-title{
		display: none;
	}

	.mobile-room-name{
		background: #d3d3d3;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	padding: .5rem;
    	font-weight: bold;
	}

	.mobile-room-name div{
		margin-left: .5rem;
	}

	.chat-sidebar {
		display: none;
	}
}
