@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}

body {
	font-family: 'Monserrat', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background-image: linear-gradient(to right, #7221CE, #1264D4);
	color: #fff;
	padding: 20px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-container .chat-header .app-title{
	margin: 0;
}

.chat-container .chat-header .btn.leave-room{
	margin: 0;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background-image: linear-gradient(to right, #7221CE, #1264D4);
	color: #fff;
	padding: 20px 20px 60px;
	margin: 0;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	margin: 0;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message.left,
.chat-messages .message.right {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: block;
	position: relative;
	clear: both;
	max-width: 90%;
}

.chat-messages .message.left{
	margin-right: 20%;
}

.chat-messages .message.right{
	margin-left: 20%;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
	margin-bottom: 7px;
	color: #0032fd;
}

.chat-messages .message .meta.from-chatbot{
	color: #3abb3a;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-messages .message .text.from-chatbot{
	font-style: italic;
}

.chat-form-container {
	padding: 20px 20px;
	background-image: linear-gradient(to right, #7221CE, #1264D4);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

.chat-form-container .btn{
	transition: 0.3s;
	opacity: 0.9;
}

.chat-form-container .btn:hover{
	opacity: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background-image: linear-gradient(to right, #7221CE, #1264D4);
}

.join-main {
	padding: 30px 40px;
	background-image: linear-gradient(to right, #7221CE, #1264D4);
}

.join-main .login-form{
	width: 50%;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

.join-main .btn{
	transition: 0.3s;
	opacity: 0.9;
}

.join-main .btn:hover{
	opacity: 1;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
