.join-container {
	max-width: 500px;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 1rem;
}

.not-found-box{
    padding: 1rem;
    color: white;
    text-align: center;
}

.not-found-box p{
    margin: .5rem;
}

.not-found-box i{
    font-size: 500%;
    padding: .5rem;
}

.not-found-box .go-home-btn{
    margin: 2rem;
    padding: 1rem;
}